<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Created Hero</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" >

</head>
<body>
    <div id="main-div">
        <h1> Welcome To <i>The Super Hero Shop</i></h1>
        <h2> Your place for finding and creating superheroes. </h2>
        <a href="/">Go HOME</a>
    </div><br>
    <h3>Your hero, whose name is <b><%- name %></b>, has now been created!!</h3>
</body>
</html>