<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Hero Creator</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
</head>
<body>
    <div id="main-div">
        <h1> Welcome To <i>The Super Hero Shop</i></h1>
        <h2> Your place for finding and creating superheroes. </h2>
    </div>
    <div id="select-option">
        <h3> Choose what you want to do?</h3>
        <a href="https://www.superheroapi.com/ids.html"> Click here to see a valid list of Superheros in the Super Hero API</a><br>
        <a href="/findComicHero">
            <input id= "find-hero-btn" type="button" value="Find A Hero in the Super Hero API"><br>
        </a>
        <a href="/createOwnHero">
            <input id= "create-hero-btn" type="button" value="Create A Hero that is not in the Super Hero API"><br>
        </a>
        <a href="/getAllHeroes">
            <input id= "get-hero-btn" type="button" value="Get Your Created Heroes"><br>
        </a>
    </div>
    <br><br>
</body>
</html>